<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <!-- TODO: set to jellyfin once opening the CI PR -->
        <add key="github" value="https://nuget.pkg.github.com/jellyfin-sandbox/index.json" protocolVersion="3" />
    </packageSources>
</configuration>
